body {
    background-color: rgb(250, 250, 232);
    display: flex;
    justify-content: center;
    font-family: monospace; 
}
.watch {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    width: 400px;
    height: 180px;
    border: 15px solid #E0A56A;
    border-radius: 25px;
    background-color: black;   
}
.time {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 400px;
    height: 180px; 
    font-size: 75px;
    color: red;
}
.date {
    margin-bottom: 15px;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    color:white;
    word-spacing: 0.7em;
}